@import url('https://fonts.cdnfonts.com/css/effra-heavy');

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main: #0000A8;
    --body-color: #fff;
    --before-main: #e1e1ff;
    --font-family: 'Effra Medium', sans-serif;
}

body {
    background: var(--body-color);
    font-family: 'Effra Medium', sans-serif;
}

.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.sidebarContainer {
    width: 30%;
    height: 100vh;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebarContainer button, #open_sidebar {
    width: 16px;
    background: none;
    border: none;
    float: right;
    cursor: pointer;
}

#close_sidebar {
    width: 20%;
}

#open_sidebar {
    float: left;
    display: none;
    margin-bottom: 30px;
}

#open_sidebar img {
    width: 19px;
}

.buttoncontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttoncontainer img {
    width: 60%;
}

.sidebarContainer button img {
    width: 100%;
}

.content {
    width: 100%;
    height: 100vh;
    background-color: var(--before-main);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.set {
    height: 100%;
    width: 300px;
    background: #0000A8;
    z-index: 1;
}

.then {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    padding: 8px;
    display: flex;
    flex-direction: row;
}

.menu-item {
    list-style:none;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
} 
.menu-item a {
    padding: 10px;
    color:#fff;
    text-decoration:none;
    margin-bottom: 5px;
    font-size: 10pt;
}

.menu-item a:hover {
    background-color: var(--before-main);
    color:var(--main);
    border-radius: 5px;
}
.menu-item .active{
     background-color: var(--before-main);
     color: var(--main);
     border-radius: 5px;
}

.sessions {
    width: 35%;
}

.sessions {
    display: flex;
    flex-direction: column;
}

.listings {
    height: 90%;
    width: 100%;
    overflow: auto;
}

.listings p {
    width: 100%;
    padding: 8px;
    padding-left: 15px;
    background-color: var(--main);
    border-radius: 5px;
    color: #fff;
    margin-bottom: 3px;
    cursor: pointer;
}

.tools {
    height: 10%;
    background-color: #0000A8;
    box-shadow: -1px -11px 25px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -11px 25px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -11px 25px -8px rgba(0,0,0,0.75);
    padding: 10px;
}

.chat {
    background: url("../images/chat_history_bkg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    padding: 15px;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.chat_sessions {
    width: 65% !important;
}

.eachchat_cs {
    max-width: 80%;
    width: auto;
    height: auto;
    background: var(--main);
    padding: 8px;
    padding-left: 15px !important;
    border-radius: 7px;
    margin-bottom: 5px;
}

.eachchat_cs p {
    color: #fff;
}

.fetched_desktop {
    float: right;
    width: 100% !important;
    text-align: right !important;
    padding: 0 !important;
    margin-top: 5px;    
}

.fetched_desktop p {
    color: var(--main);
    padding: 8px;
    padding-right: 15px !important;
    border-radius: 7px;
    background-color: var(--before-main);
    max-width: 80%;
    width: auto;
    float: right !important;
    padding-left: 7px !important;
    display: block !important; 
}

.admin_fetched_desktop {
    float: left;
    width: 100% !important;
    text-align: right !important;
    padding: 0 !important;
    margin-top: 5px;    
}

.admin_fetched_desktop p {
    color: var(--body-color);
    padding: 8px;
    padding-left: 15px !important;
    border-radius: 7px;
    background-color: var(--main);
    max-width: 80%;
    width: auto;
    float: left !important;
    padding-right: 7px !important;
    display: block !important; 
}

.chat_tools_input {
    width: 85%;
    height: 54px;
    font-size: 12pt;
    padding-left: 10px;
    border: none;
    outline: none;
    resize: none;
    font-family: var(--font-family);
    padding-top: 12px;
    color: #333;
    background-color: none;
}

.chat_tools_input::placeholder {
    color: #979797;
    font-size: 13pt;
}

.chat_tools form div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat_tools form div button {
    padding: 8px 18px 8px 18px;
    border: none;
    background: green;
    color: #fff;
    font-family: var(--font-family);
    border-radius: 5px;
    cursor: pointer;
}

.emailButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
}

.emailButtons button {
    width: 100%;
    padding: 6px 18px 6px 18px;
    border: none;
    background: var(--main);
    font-family: var(--font-family);
    color: #fff;
    cursor: pointer;
    outline: none;
}

.emailButtons button:hover {
    background: var(--main);
    color: var(--before-main);
}

.sideA {
    width: 35%;
    height: 100%;
}

.containerForMails {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    flex-direction: row;
}

.emailContent {
    width: 60%;
    height: 100%;
    background: black;
}

#read, #ended {
    display: none;
}

.containerForListings {
    height: 100%;
    width: 100%;
    margin-top: 10px;
}

.authContainer {
    width: 100%;
    height: 100%;
    /* background-color: #1b1b1b; */
    padding: 10%;
    align-items: center;
  }
  
  .authcontainerForm {
    width: 35%;
    height: auto;
    border: 1px solid #22222233;
    border-radius: 10px;
    margin-left: 30%;
    padding: 4%;
  }
  
  .authcontainerForm p {
    font-size: 10pt;
    margin-top: 1.7%;
  }
  
  .wrap {
    width: 100%;
  }
  
  .wrap .inputLogin {
    width: 100%;
    padding: 4%;
    margin-bottom: 10px;
    background: none;
    border: 1px solid #22222236;
    border-radius: 4px;
    outline: none;
  }
  
  .wrap .forgotPassText {
    text-decoration: none;
    color: #131313;
    /* background-color: #1b1b1b; */
    /* padding: 5px 4% 5px 4%; */
    font-size: 10pt;
    margin-top: 5%;
  }
  
  .otpCode {
    display: flex;
    margin-left: -.5rem;
  }
  
  .otpCode__digit {
    border: 1px solid #2222222f;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    margin-left: .5rem;
    font-family: monospace;
    font-size: 1.5em;
    line-height: 2.5;
    padding: 0;
    
    &:focus {
       outline: none;
       border-color: blue;
    }
  }
  
  @media only screen and (max-width: 720px) {
    .authcontainerForm {
      width: 100%;
      margin-left: 0%;
    }
    
    .authContainer {
      padding: 5%;
    }
  }

  .logoutContainer {
    height: 10%;
    width: 100%;
    /* background: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoutBtn {
    width: 100%; 
    background: #fff;
    color: var(--main) !important;
    border-radius: 5px;
}