@import url('https://fonts.cdnfonts.com/css/effra-heavy');

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main: #0000A8;
    --body-color: #fff;
    --before-main: #e1e1ff;
    --font-family: 'Effra Medium', sans-serif;
}

body {
    background: var(--body-color);
    font-family: 'Effra Medium', sans-serif;
}

.navbar {
    width: 100%;
    height: auto;
    background-color: var(--before-main);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.logo {
    width: 25%;
    padding: 0;
    /* background-color: #0000A8; */
}

.logo a img {
    width: 90%;
    padding-left: 25%;
}

.menu_list {
    width: 60%;
    padding-right: 10%;
    /* background: red; */
    display: flex;
    flex-wrap: nowrap;
    padding-left: 60px;
}

.searchbar {
    width: 30%;
}

.searchbar form div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #0000A8;
    padding: 3px;
    border-radius: 7px;
    height: 35px;
    width: 250px;
}

.searchbar form div .input {
    background: none;
    border: none;
    width: 100%;
    color: #fff;
    outline: none;
    padding-left: 10px;
}

::placeholder {
    color: #fff;
}

.searchbar form div button {
    background: none;
    border: none;
    color: #fff;
    font-size: 12pt;
    padding-right: 10px;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: var(--main);
    margin: 0px 10px 0px 0px;
    padding-left: 0px;
}

.mobile_list {
    display: none;
}

.menu_button {
    display: none;
}

.menu_button button {
    border: none;
    background: none;
}

@media only screen and (max-width: 720px)
{
    .navbar {
        z-index: 1 !important;
        position: fixed;
    }

    .searchbar{
        display: none;
    }

    .searchbar_mobile {
        margin-top: 40px;
    }

    .searchbar_mobile form div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: #fff;
        padding: 3px;
        border-radius: 7px;
        height: 35px;
        width: 250px;
    }
    
    .searchbar_mobile form div .input {
        background: none;
        border: none;
        width: 100%;
        color: var(--main);
        outline: none;
        padding-left: 10px;
        font-size: 12pt;
    }
    
    ::placeholder {
        color: var(--before-main);
    }
    
    .searchbar_mobile form div button {
        background: none;
        border: none;
        color: var(--main);
        font-size: 12pt;
        padding-right: 10px;
    }

    .menu_button {
        display: block;
    }

    .logo {
        width: 100%;
        padding: 0;
    }

    .logo a img {
        width: 50%;
        padding-left: 5%;
    }

    .menu_list{
        display: none;
    }
    
    .mobile_list {
        width: 100%;
        height: 100vh;
        position: fixed;
        padding-top: 70px;
        padding-bottom: 70px;
        background-color: var(--main);
    }
    
    .mobile_list li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 0px;
    }
    
    .mobile_list li a {
        color: #fff;
        margin-top: 30px;
        width: 100%;
        height: 100%;
        /* z-index: 1; */
    }

    li a {
        margin: 0;
    }
}

.backdrop video {
    width: 100%;
    height: fit-content;
    padding-top: 65px;
}

.explore_prop {
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    padding-bottom: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.explore_prop .title {
    text-align: center;
    padding-bottom: 40px;
}

.explore_prop .title h3 {
    font-family: 'Effra Heavy', sans-serif;
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 30pt;
    color: var(--main);
}

.products {
    width: 84%;
    margin-left: 8%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.eachproduct {
    width: 31%;
    height: 250px;
    background-color: var(--main);
    border-radius: 7px;
    margin: 10px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    transition: .6s;
}

.eachproduct .overlay {
    width: 100%;
    height: 100%;
    background-color: #0000008f;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    transition: .6s;
}

.eachproduct a {
    text-decoration: none;
}

.eachproduct .overlay p {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 18pt;
}

.eachproduct:hover {
    scale: 105%;
}

.eachproduct .overlay:hover{
    background-color: #00000075;
}

@media only screen and (max-width: 720px) {
    .products {
        flex-direction: column;
        padding-top: 40px;
    }

    .explore_prop .title h3 {
        padding-top: 40px;
    }

    .eachproduct {
        width: 100%;
        margin: 0px 0px 25px 0px;
        height: 200px;
    }
}

.client_bg {
    background: url(../images/Group-72.png);
    background-color: var(--before-main);
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size:105%;
}

.each_client {
    height: 130px;
    background: none;
    background: none;
    border: 1px solid #0000001a;
}

.each_client .overlay {
    background: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.each_client .overlay:hover {
    background: none;
}

.each_client:hover{
    background-color: none;
    scale: 100%;
}

.each_client .overlay img {
    width: 45%;
    margin: 0 !important;
    padding: 0;
}

.products .product_box {
    width: 24% !important;
    height: 370px;
    background: var(--before-main);
    margin-bottom: 15px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.products .product {
    width: 100%;
    height: 70%;
    background-color: var(--main);
    border-radius: 7px 7px 0px 0px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.title p {
    color: #888888;
}
.detail {
    padding: 15px;
    color: #888888;
}

.detail p {
    font-size: 13pt;
    margin-bottom: 3px;
}

.detail h3 {
    color: var(--main);
}

.detail .location {
    font-size: 10pt;
}

.learnmoreBtn {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.learnmoreBtn a button {
    padding: 20px 50px 20px 50px;
    border: none;
    border-radius: 7px;
    background-color: var(--main);
    color: #fff;
    font-size: 12pt;
    font-family: var(--font-family);
    cursor: pointer;
}

.learnmoreBtn a button:hover {
    background-color: #00006e;
}

.title p {
    margin-top: 15px;
    margin-bottom: 20px;
}

.title h3 {
    margin-top: 0px;
    padding-bottom: 0 !important;
}

@media only screen and (max-width: 720px) {
    .products .product_box {
        width: 100% !important;
    }

    .title h3, .title p {
        width: 80%;
        margin-left: 10%;
    }

    .title h3 {
        line-height: 38px;
    }

    .title p {
        margin-bottom: 0px;
        margin-top: 20px;
    }
}

.award {
    width: 100%;
    height: auto;
    background-color: var(--main);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 8%;
}

.illustration_award {
    width: 50%;
    height: 600px;
    /* background-color: var(--body-color) !important; */
    background: url("../images/Group-73.png");
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.award_details {
    padding: 50px;
    display: flex;
    flex-direction: column;
    background: none !important;
}

.award_details h3 {
    font-size: 40pt;
    line-height: 40pt;
    color: #fff;
}

.award_details p {
    font-size: 14pt;
    font-weight: 100;
    margin-top: 30px;
    color: #c0c0c0;
}

.award_logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.award_logo img {
    width: 130px;
    margin: 0;
    margin-right: 10px;
}

hr {
    width: 40%;
    margin-top: 40px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 720px) {
    .award {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 10px;
        padding-bottom: 80px;
    }

    .illustration_award {
        width: 100%;
    }

    .award_details {
        height: auto;
        padding: 15px;
    }
}

.stick_livechat {
    width: 40%;
    height: 420px;
    background: var(--main);
    position: -webkit-sticky;
    position: fixed;
    top: 22.5%;
    left: 59.4%;
    bottom: 10%;
    z-index: 1;
    display: none;
    border-radius: 10px;
}

#stick_livechat {
    box-shadow: -1px 9px 19px -9px rgba(0,0,0,0.87);
    -webkit-box-shadow: -1px 9px 19px -9px rgba(0,0,0,0.87);
    -moz-box-shadow: -1px 9px 19px -9px rgba(0,0,0,0.87);
    padding: 20px;
}

#stick_livechat_smile {
    display: none;
}

.livechat_button, .livechat_button_close {
    display: flex;
    width: 100px;
    height: 100px;
    background: none;
    position: fixed;
    position: -webkit-sticky;
    left: 92%;
    z-index: 1;
    top: 84%;
    bottom: 7%;
    padding: 5px;
    border: none;
    cursor: pointer;
}

#stick_livechat_button_close {
    display: none;
}

@media only screen and (max-width: 720px) {
    .livechat_button, .livechat_button_close {
        display: flex;
        width: 100px;
        height: 100px;
        background: none;
        position: fixed;
        position: -webkit-sticky;
        left: 72%;
        z-index: 1;
        top: 85%;
        bottom: 3% !important;
        padding: 5px;
    }

    #stick_livechat {
        width: 100%;
        height: 100%;
        background: var(--main);
        position: -webkit-sticky;
        position: absolute;
        top: 8.3%;
        left: 0%;
        bottom: 10%;
        z-index: 0;
        display: none;
        border-radius: 10px;
    }
}

#chat_note {
    display: none;
    background-color: #fff;
    width: 220px;
    height: 66px;
    position: fixed;
    position: -webkit-sticky;
    left: 76%;
    z-index: 1;
    top: 86%;
    bottom: 7%;
    padding: 20px;
    text-align: left;
    box-shadow: -1px 9px 19px -9px rgba(0,0,0,0.87);
    -webkit-box-shadow: -1px 9px 19px -9px rgba(0,0,0,0.87);
    -moz-box-shadow: -1px 9px 19px -9px rgba(0,0,0,0.87);
}

@media only screen and (max-width: 720px) {
    #chat_note {
        left: 12%;
        top: 86.7%;
    }
}

#chat_note div {
    text-align: left !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.p1 {
    color: #333 !important;
    font-size: 10pt;
}

.p1, .p2 {
    font-size: 9pt;
    color: #7c7c7c;
}

#stick_livechat img {
    width: 40px;
}

.client_info {
    padding: 30px;
}

.client_info .a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}

.client_info .a p {
    font-size: 18pt;
    margin-left: 15px;
    padding-top: 6px;
}

.session_area {
    width: 100%;
    height: 74%;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
}

.chat_history {
    width: 100%;
    height: 78%;
    background: url("../images/chat_history_bkg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    padding: 15px;
}

.chat_tools {
    width: 100%;
    height: 20%;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    padding: 8px 15px 5px 15px;
}

.eachchat_cs {
    max-width: 70%;
    width: auto;
    height: auto;
    background: var(--main);
    padding: 8px;
    padding-left: 15px !important;
    border-radius: 7px;
    margin-bottom: 5px;
}

.eachchat_cs p {
    color: #fff;
}

.chat_tools_input {
    width: 85%;
    height: 54px;
    font-size: 12pt;
    padding-left: 10px;
    border: none;
    outline: none;
    resize: none;
    font-family: var(--font-family);
    padding-top: 12px;
    color: #333;
    background-color: none;
}

.chat_tools_input::placeholder {
    color: #979797;
    font-size: 13pt;
}

.chat_tools form div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat_tools form div button {
    padding: 8px 18px 8px 18px;
    border: none;
    background: green;
    color: #fff;
    font-family: var(--font-family);
    border-radius: 5px;
    cursor: pointer;
}