@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main: #0000A8;
    --body-color: #fff;
    --before-main: #e1e1ff;
    --font-family: "Sorts Mill Goudy", serif;
}

body {
    background: var(--body-color);
    font-family: "Sorts Mill Goudy", serif;
}

.navbar {
    width: 100%;
    height: auto;
    background-color: #ffffff00;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    padding: 16px;
    align-items: center;
    z-index: 1;
}

.desktopNav {
    width: 100%;
    /* padding: 5%; */
}

.desktopNav li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.desktopNav li a {
    font-size: 7.5pt;
    text-transform: uppercase;
    padding: 8px 15px;
    font-family: "Sorts Mill Goudy", serif;
    color: #fff;
    font-weight: 600;
    border: 1px solid #ffffff00;
    cursor: pointer;
    transition: .4s;
    letter-spacing: 2px;
}

.desktopNav li .links:hover {
    border: 1px solid #fff;
}

::placeholder {
    color: #fff;
}

.searchbar form div button {
    background: none;
    border: none;
    color: #fff;
    font-size: 12pt;
    padding-right: 10px;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: var(--main);
    margin: 0px 10px 0px 0px;
    padding-left: 0px;
}

li a:last-child {
    margin: 0;
}

.mobile_list {
    display: none;
}

.menu_button {
    display: none;
}

.menu_button button {
    border: none;
    background: none;
}

#whiteLogoMobile, #blueLogoMobile,
#menu_buttonwihte, #menu_buttonblue, .mobileNav {
    display: none;
}

@media only screen and (max-width: 720px)
{
    .navbar {
        display: none;
    }

    #blueLogoMobile {
        display: block;
    }

    .mobileNav {
        z-index: 1 !important;
        padding: 10px 28px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between !important;
        width: 100% !important;
        background-color: #fff;
    }

    #menu_buttonwihte {
        display: block !important;
    }

    .desktopNav {
        display: none !important;
    }

    .searchbar{
        display: none;
    }

    .menu_button {
        display: block !important;
    }
    
    .mobile_list {
        width: 100%;
        height: auto;
        position: absolute;
        padding-top: 30px;
        padding-bottom: 60px;
        background-color: var(--main);
    }
    
    .mobile_list li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 0px;
    }
    
    .mobile_list li a {
        color: #fff;
        margin-top: 30px;
        width: 100%;
        height: 100%;
        /* z-index: 1; */
    }

    li a {
        margin: 0;
    }

    .menu_btn, .menu_btn_close {
        z-index: 1 !important;
    }
}

.backdrop video {
    width: 100%;
    height: fit-content;
}

.explore_prop {
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    padding-bottom: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.explore_prop .title {
    text-align: center;
    padding-bottom: 40px;
}

.explore_prop .title h3 {
    font-family: "Sorts Mill Goudy", serif;
    text-transform: uppercase;
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 20pt;
    color: var(--main);
}

.products {
    width: 84%;
    margin-left: 8%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.eachproduct {
    width: 31%;
    height: 250px;
    background-color: var(--main);
    border-radius: 7px;
    margin: 10px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    transition: .6s;
}

.eachproduct .overlay {
    width: 100%;
    height: 100%;
    background-color: #0000008f;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    transition: .6s;
}

.eachproduct a {
    text-decoration: none;
}

.eachproduct .overlay p {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 18pt;
}

.eachproduct:hover {
    scale: 105%;
}

.eachproduct .overlay:hover{
    background-color: #00000075;
}

@media only screen and (max-width: 720px) {
    .products {
        flex-direction: column;
        padding-top: 40px;
    }

    .explore_prop .title {
        padding-bottom: 0;
    }

    .explore_prop .title h3 {
        padding-top: 40px;
    }

    .eachproduct {
        width: 100%;
        margin: 0px 0px 25px 0px;
        height: 200px;
    }

    .eachproduct:hover {
        scale: 100%;
    }
}

.client_bg {
    background: url(../images/Group-72.png);
    background-color: #fff;
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size:105%;
}

.each_client {
    height: 130px;
    background: none;
    background: none;
    border: 1px solid #0000001a;
}

.each_client .overlay {
    background: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.each_client .overlay:hover {
    background: none;
}

.each_client:hover{
    background-color: none;
    scale: 100%;
}

.each_client .overlay img {
    width: 45%;
    margin: 0 !important;
    padding: 0;
}

.products .product_box {
    width: 24% !important;
    height: 370px;
    background: #f1f1f1;
    margin-bottom: 15px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.products .product {
    width: 100%;
    height: 70%;
    background-color: var(--main);
    border-radius: 7px 7px 0px 0px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.title p {
    color: #888888;
}
.detail {
    padding: 13px;
    color: #888888;
}

.detail p {
    font-size: 11pt;
    margin-bottom: 3px;
}

.detail h3 {
    color: var(--main);
}

.detail .location {
    font-size: 10pt;
}

.learnmoreBtn {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.hideme
{
    opacity: 0;
}

.learnmoreBtn a button {
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 7px;
    background-color: var(--main);
    color: #fff;
    font-size: 10pt;
    font-family: var(--font-family);
    cursor: pointer;
}

.learnmoreBtn a button:hover {
    background-color: #00006e;
}

.title p {
    margin-top: 15px;
    margin-bottom: 20px;
}

.title h3 {
    margin-top: 0px;
    padding-bottom: 0 !important;
}

@media only screen and (max-width: 720px) {
    .products .product_box {
        width: 100% !important;
    }

    .title h3, .title p {
        width: 80%;
        margin-left: 10%;
    }

    .title h3 {
        line-height: 38px;
    }

    .title p {
        margin-bottom: 0px;
        margin-top: 20px;
    }
}

.award {
    width: 100%;
    height: auto;
    background-color: var(--body-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 8%;
}

.illustration_award {
    width: 50%;
    height: 600px;
    /* background-color: var(--body-color) !important; */
    background: url("../images/Group-73.png");
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.award_details {
    padding: 50px;
    display: flex;
    flex-direction: column;
    background: none !important;
}

.award_details h3 {
    font-size: 40pt;
    line-height: 40pt;
    color: #0000A8;
}

.award_details p {
    font-size: 14pt;
    font-weight: 100;
    margin-top: 30px;
    font-family: 'Tino' serif;
    color: #4e4e4e;
}

.award_logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.award_logo img {
    width: 130px;
    margin: 0;
    margin-right: 10px;
}

hr {
    width: 40%;
    margin-top: 40px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 720px) {
    .award {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 10px;
        padding-bottom: 80px;
    }

    .award_details h3 {
        font-size: 29pt;
        line-height: 30pt;
    }

    .illustration_award {
        width: 100%;
    }

    .award_details {
        height: auto;
        padding: 15px;
    }
}

.stick_livechat {
    width: 40%;
    height: 420px;
    background: var(--body);
    position: -webkit-sticky;
    position: fixed;
    top: 22.5%;
    left: 59.4%;
    bottom: 10%;
    z-index: 1;
    display: none;
    border-radius: 10px;
    background-color: #0000A8;
}

.livechat {
    width: 100%;
    height: 100vh;
    background-color: var(--main);
    z-index: 1;
}

.livechat .client_info {
    padding-top: 15px;
}

.livechat .chat_tools {
    border-radius: 0;
    height: auto;
    /* background-color: red; */
}

.livechat .chat_history {
    height: 100%;
}

#chatIcon {
    width: 50px;
}

.mobile_chat_btn {
    display: none;
}

#livechat_mobile {
    display: none;
}

.chat_history {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 720px) {
    .mobile_chat_btn {
        display: flex;
        width: 100px;
        height: 100px;
        background: none;
        position: fixed;
        position: -webkit-sticky;
        left: 72%;
        z-index: 1;
        top: 84%;
        bottom: 7%;
        padding: 5px;
        border: none;
        cursor: pointer;
    }
}

#stick_livechat {
    box-shadow: -1px 9px 19px -9px rgba(0,0,0,0.87);
    -webkit-box-shadow: -1px 9px 19px -9px rgba(0,0,0,0.87);
    -moz-box-shadow: -1px 9px 19px -9px rgba(0,0,0,0.87);
    padding: 20px;
}

#stick_livechat_smile {
    display: none;
}

.livechat_button, .livechat_button_close {
    display: flex;
    width: 100px;
    height: 100px;
    background: none;
    position: fixed;
    position: -webkit-sticky;
    left: 92%;
    z-index: 1;
    top: 84%;
    bottom: 7%;
    padding: 5px;
    border: none;
    cursor: pointer;
}

#stick_livechat_button_close {
    display: none;
}

.closeBtn {
    display: none;
}

@media only screen and (max-width: 720px) {
    .livechat_button, .livechat_button_close {
        display: none !important;
        left: 0%;
        z-index: 0;
        top: 0%;
    }

    .livechat_button_mobile, .livechat_button_mobile_close {
        display: none;
    }

    #stick_livechat {
        width: 100%;
        height: 100vh;
        background: var(--main);
        /* position: -webkit-sticky; */
        position: fixed;
        top: 0%;
        left: 0%;
        bottom: 10%;
        z-index: 0;
        display: none;
        border-radius: 0px;
        -webkit-backface-visibility: hidden;
        padding: 0;
    }

    .closeBtn {
        padding-top: 8%;
        text-align: right;
        display: block;
    }

    .closeBtn button {
        margin-right: 20px;
        border: 0;
        background: none;
        color: #fff;
        font-size: 13pt;
    }
}

#chat_note {
    display: none;
    background-color: #fff;
    width: 220px;
    height: 66px;
    position: fixed;
    position: -webkit-sticky;
    left: 76%;
    z-index: 1;
    top: 86%;
    bottom: 7%;
    padding: 20px;
    text-align: left;
    box-shadow: -1px 9px 19px -9px rgba(0,0,0,0.87);
    -webkit-box-shadow: -1px 9px 19px -9px rgba(0,0,0,0.87);
    -moz-box-shadow: -1px 9px 19px -9px rgba(0,0,0,0.87);
}

@media only screen and (max-width: 720px) {
    #chat_note {
        left: 11.5%;
        top: 86.7%;
    }
}

#chat_note div {
    text-align: left !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.p1 {
    color: #333 !important;
    font-size: 10pt;
}

.p1, .p2 {
    font-size: 9pt;
    color: #7c7c7c;
}

#stick_livechat img {
    width: 40px;
}

.client_info {
    padding: 30px;
}

.client_info .a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}

.client_info .a p {
    font-size: 18pt;
    margin-left: 15px;
    padding-top: 6px;
}

.session_area {
    width: 100%;
    height: 74%;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
}

.chat_history {
    width: 100%;
    height: 78%;
    background: url("../images/chat_history_bkg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    padding: 15px;
    /* padding-bottom: 40px !important; */
}

.admin_fetched_desktop {
    float: left;
    width: 100% !important;
    text-align: right !important;
    padding: 0 !important;
    margin-top: 5px;    
}

.admin_fetched_desktop p {
    color: var(--body-color);
    padding: 8px;
    padding-left: 15px !important;
    border-radius: 7px;
    background-color: var(--main);
    max-width: 80%;
    width: auto;
    float: left !important;
    padding-right: 7px !important;
    display: block !important; 
}

.chat_tools {
    width: 100%;
    height: 20%;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    padding: 8px 15px 5px 15px;
}

@media only screen and (max-width: 720px) {
    .chat_tools {
        width: 100% !important;
        height: auto !important;
    }

    #chat_history_mobile {
        overflow: none !important;
        overflow-y:auto !important;
        overflow-x:hidden !important;
    }

    .chat_history {
        height: 100% !important;
    }
}

.eachchat_cs {
    max-width: 80%;
    width: auto;
    height: auto;
    background: var(--main);
    padding: 8px;
    padding-left: 15px !important;
    border-radius: 7px;
    margin-bottom: 5px;
}

.eachchat_cs p {
    color: #fff;
}

.chat_tools_input {
    width: 85%;
    height: 54px;
    font-size: 12pt;
    padding-left: 10px;
    border: none;
    outline: none;
    resize: none;
    font-family: var(--font-family);
    padding-top: 12px;
    color: #333;
    background-color: none;
}

.chat_tools_input::placeholder {
    color: #979797;
    font-size: 13pt;
}

.chat_tools form div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat_tools form div button {
    padding: 8px 18px 8px 18px;
    border: none;
    background: green;
    color: #fff;
    font-family: var(--font-family);
    border-radius: 5px;
    cursor: pointer;
}

.fetched {
    float: right;
    width: 100% !important;
    text-align: right !important;
    padding: 0 !important;
    margin-top: 5px;    
}

.fetched p {
    color: var(--main);
    padding: 8px;
    padding-right: 15px !important;
    border-radius: 7px;
    background-color: var(--before-main);
    max-width: 80%;
    width: auto;
    float: right !important;
    padding-left: 7px !important;
    /* margin-left: 30% !important; */
}

.fetched_desktop {
    float: right;
    width: 100% !important;
    text-align: right !important;
    padding: 0 !important;
    margin-top: 5px;    
}

.fetched_desktop p {
    color: var(--main);
    padding: 8px;
    padding-right: 15px !important;
    border-radius: 7px;
    background-color: var(--before-main);
    max-width: 80%;
    width: auto;
    float: right !important;
    padding-left: 7px !important;
    display: block !important; 
}

.contactContainer {
    width: 100%;
    height: 100vh;
    padding: 8% 8% 2% 8%;
    background: url(../images/Group-74.png);
    background-position-y: 90px;
    /* background-position-x: 100px; */
    background-size: 110%;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-color: var(--before-main);
    background-blend-mode: darken;
}

.contactContainer .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.contactContainer .container h1 {
    font-size: 47pt;
    color: var(--main);
}

.side_a, .side_b {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.side_a p {
    font-size: 14pt;
    width: 90%;
    color: #555555;
    margin-top: 50px;
    line-height: 26px;
    font-weight: lighter !important;
}

.contactBtns {
    margin-top: 30px;
}

.contactBtns a {
    margin-right: 8px;
}

.contactBtns a button, .contactBtns button {
    padding: 8px 16px 8px 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: var(--font-family);
}

.single_row {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
}

.single {
    width: 92% !important;
    margin-bottom: 18px;
}

.single_row div, .single {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 45%;
}

.single_row div label, .single label, .single textarea {
    color: var(--main);
    margin-bottom: 4px;
    width: 100%;
}

.single_row div input, .single select, .single textarea {
    width: 100%;
    height: 37px;
    padding-left: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: -1px 9px 19px -9px rgba(22, 22, 22, 0.753);
    -webkit-box-shadow: -1px 9px 19px -9px rgba(32, 32, 32, 0.753);
    -moz-box-shadow: -1px 9px 19px -9px rgba(34, 34, 34, 0.753);
    outline: none;
    color: #333;
    font-family: var(--font-family);
}

.single textarea {
    height: 100px;
    padding: 15px !important;
}

@media only screen and (max-width: 720px) {
    .contactContainer .container {
        flex-direction: column;
    }

    .contactContainer {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .side_a {
        padding-top: 100px !important;
        margin-bottom: 50px;
    }

    .side_a p {
        margin-top: 20px;
    }

    .side_a, .side_b {
        padding: 0%;
        width: 100%;
    }

    .side_b {
        padding-bottom: 30px;
    }

    .contactContainer .container h1 {
        font-size: 30pt;
    }

    .single_row {
        flex-direction: column;
        margin-bottom: 0 !important;
        width: 100%;
    }

    .single {
        width: 100% !important;
    }

    .single select, .single_row div input {
        height: 50px;
    }

    .single_row div {
        width: 100%;
        margin-bottom: 18px !important;
    }

    .side_a p {
        line-height: 16pt;
        width: 95%;
    }
}

.updatesContainer {
    flex-wrap: wrap !important;
}

.eachNewsContainer {
    width: 25%;
    height: auto;
    padding: 5px ;
}

.eachNewsContainer a {
    text-decoration: none;
}

.eachNews {
    width: 100%;
    height: auto;
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.eachNews:hover {
    box-shadow: -1px 9px 7px -9px rgba(0, 0, 0, 0.37);
}

.updateTitle {
    padding: 20px;
    height: auto;
    width: 100%;
    border-radius: 0px 0px 8px 8px;
}

.updateTitle h3 {
    color: #333;
}

.updateImg {
    width: 100%;
    height: 295px;
    background-color: #e8e8e8;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-radius: 8px 8px 0px 0px;
}

.pagiButtons {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    margin-top: 60px;
}

#activePgClass {
    background-color: #e8e8e8;
    border: 2px solid var(--main);
    color: var(--main);
}

.readStory h3 {
    font-size: 40pt;
    margin-bottom: 20px;
    margin-top: 20px;
}

.readImg {
    height: 500px !important;
    width: 500px !important;
    margin-bottom: 20px;
    display: flex !important;
    align-items: end;
}

.contentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 6.4%;
    padding-top: 3%;
}

.content {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.imgRow {
    display: flex;
    flex-direction: row;
}

.pcsImgs {
    width: 180px;
    height: 500px;
    /* background-color: red; */
    border: 1px solid #333;
    overflow: auto;
    padding: 20px;
    margin-right: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.pcsImgs img {
    width: 100%;
    margin-bottom: 10px;
}

#contentContainer {
    padding-top: 10%;
}


@media only screen and (max-width: 720px) 
{
    .contentContainer {
        padding-top: 5% !important;
        height: 100%;
    }
    
    #contentContainer {
        padding-top: 25% !important;
    }

    .eachNewsContainer {
        width: 100%;
        height: auto;
        padding: 5px 5px 0px;
        margin-bottom: 15px;
    }

    .imgRow {
        display: flex;
        flex-direction: column-reverse;
    }

    .pcsImgs {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
    }

    .readImg {
        width: 100% !important;
        height: 300px !important;
    }

    .pcsImgs img {
        width: 100px;
        margin-right: 10px;
    }
}

.headerBackground {
    height: 400px;
    width: 100%;
    background-color: var(--before-main);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.toppings {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.toppings h3 {
    font-size: 25pt;
    color: var(--before-main);
}

.records {
    width: 100%;
    height: auto;
    /* padding: 50px; */
    background-color: #00006e;
    background: url(../images/rooftop-garden.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.recordCover {
    width: 100%;
    height: 100%;
    padding: 150px 50px;
    background-color: #0000A844;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.recordContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 60px;
}

.eachRecord {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.eachRecord p {
    width: 200px;
}

.eachRecord p strong {
    font-size: 25pt;
}

.eachRecord:last-child {
    margin-right: 0;
}

.recordContainer hr, .recordCover hr {
    margin-right: 20px;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #fff;
    opacity: 100%;
}

@media only screen and (max-width: 720px) {
    .recordContainer {
        display: flex;
        flex-direction: column;
    }

    .eachRecord p {
        width: 100%;
    }

    .recordCover {
        padding: 50px 50px;
    }

    .eachRecord {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-right: 0;
    }

    .recordContainer hr {
        margin-right: 0;
        width: auto;
        margin-top: 20px;
        background-color: #fff;
        opacity: 100%;
    }
}

footer {
    width: 100%;
    height: auto;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    color: #fff;
}

hr {
    width: 80%;
    opacity: 20%;
    margin: 15px;
}

.footer_links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    height: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.footer_logo {
    width: 20%;
    height: auto;
}

.footer_logo img {
    width: 100%;
}

.each_links {
    width: 100%;
    height: auto;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
}

.linkscategories {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.linkscategories p {
    margin-bottom: 15pt;
    color: #fff;
}

.linkscategories a {
    text-decoration: none;
    color: #d8d8d8;
    /* font-family: "Roboto", sans-serif; */
    font-size: 10.5pt;
    margin-top: 15pt;
}

footer p {
    font-size: 10.5pt;
    color: #a3a3a3;
}

@media only screen and (max-width: 720px) {
    .footer_links {
        flex-direction: column;
        margin-bottom: 0;
    }

    .footer_logo {
        width: 40%;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .each_links {
        width: 100%;
        height: auto;
        margin-left: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .linkscategories {
        width: 100%;
        margin-bottom: 50px;
    }
    
    .linkscategories a, .linkscategories p {
        width: 90%;
    }

    .linkscategories:nth-child(2n) {
        margin-left: 0%;
        width: 100%;
    }
}

.coverdiv {
    width: 100%;
    height: 100px;
    background-color: red;
    z-index: 1;
}

.aboutheader {
    width: 100%;
    height: 300px;
    background-color: #0000A8;
    /* background: url(../images/Picture2.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.aboutheader h3 {
    font-size: 25pt;
}

.contents {
    height: 100%;
    width: 100%;
}

.background {
    width: 100%;
    height: auto;
    background: url(../images/boardroom.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutoverlay {
    padding: 9%;
    background-color: #00000088;
}

.aboutoverlay h1 {
    padding: 15px 30px;
    border:  2px solid #fff;
    margin-bottom: 20px;
    border-radius: 25px 0px;
    background-color: #fff;
    color: #0000A8;
}

.aboutoverlay hr {
    margin-top: 15px !important;
    margin-bottom: 20px !important;
    width: 100px;
}

.ourpeople {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pics1 {
    width: 50%;
    height: 100%;
}

.pics1 img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.infos {
    width: 50%;
}

.infos h1 {
    padding: 15px 30px;
    border:  2px solid #fff;
    margin-bottom: 20px;
    border-radius: 25px 0px;
    background-color: #0000A8;
    color: #fff;
    width: 36%;
}

.infos p {
    width: 70%;
}

.infos hr {
    margin-left: 0;
    width: 7%;
    height: 3px;
    background-color: #0000A8;
    opacity: 100%;

}

@media only screen and (max-width: 720px) {
    .ourpeople {
        display: flex;
        flex-direction: column;
    }

    .pics1 {
        width: 100%;
    }

    .infos {
        width: 100%;
        padding: 8%;
    }

    .infos p {
        width: 100%;
    }

    .infos h1 {
        width: 73%;
    }

    .infos hr {
        width: 30%;
    }
}